svg {
  overflow: visible;
  display: flex;
  height: 200px;
}

.chart{
  gap: 12px;
  padding: 10px;
}

button {
    width: 100px;
    border: 1px solid black;
    margin: 0 auto 5px;
}

  .flex-container {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-grow: 1; 
    height: 100%;

}